body {
    margin:0!important;
}
.hero {
    background-color: #1f2937;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width:1140px!important;
    width:100%!important;
    display:block;
    margin:0 auto;
}

.header-container {
    display:flex;
    justify-content: space-between;
}

.menu {
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.menu .menu-item {
    margin: 6px 8px;
}

li:nth-last-child {
    margin-right:0px!important;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    
    
}

.information-container {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:400px;
    align-items: center;
}

.info-items-container, .info-items {display:flex;}

.info-items-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.info-title {
    margin-top:48px;
    margin-bottom:80px;
}



.item-img {
    border:3px solid blue;
    width:150px;
    height:150px;
}