body {
    margin:0!important;
}

/* Hero Section Styles*/
.hero {
    background-color: #1f2937;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.hero .container {
    max-width:1140px;
    width:100%;
    margin:0 auto;
}

.header-container{
    display:flex;
    justify-content: space-between;
}

.menu{
    display:flex;
    gap:12px;
    justify-content: space-between;
}

.hero-content {
    flex-grow: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

/****Main COntent Styles****/

.main-content .container {
    max-width:900px;
    width:100%;
    margin:0 auto;
    padding:80px 0px;
}

/**Information Section**/

.info-title{
    margin-bottom:60px;
    text-align:center;
}

.info-items-container {
    display:flex;
    justify-content: space-between;
 
}

.info-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis:175px;
}

.item-img{
    width:175px;
    height:175px;
    border: 3px solid #3882f6;
    border-radius:5px
}

/*Quote Section*/

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size:40px;
    line-height:48px;
    font-style: italic;
}

.quote-author {
    text-align:right;
    font-weight:700;
    font-size: 18px;
}